@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "_nullstyle";

@font-face {
  font-family: "minecraft";
  src: url("../fonts/minecraft.ttf") format("truetype");
  font-weight: 600;
}
$bodyTextColor: #222;
$bodyBackgroundColor: #fff;
$linkColor: #ea1733;
$linkHoverColor: invert($linkColor);
$headerLinkColor: #c8cec4;
$headerLinkHoverColor: $linkHoverColor;

// SCSS structural variables
$spacing: 20px;

// SCSS textual variables
$bodyFontSize: 14px;
$bodyFont: "Arimo", sans-serif;
$headingFont: "Bungee", sans-serif;
$lineHeight: 1.5;
$textShadow: 0 -1px 0 rgba($bodyTextColor, 0.8);

body {
  font-family: "Inter";
}
.hero {
  height: 100vh;
  width: 100vw;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url(https://img.freepik.com/premium-vector/falling-banknotes_102902-306.jpg?w=1060) center no-repeat;
  filter: hue-rotate(90deg);
  background-size: cover;
  background-attachment: fixed;
  &--image {
    position: absolute;
  }
  &--contents {
    background: rgba($bodyBackgroundColor, 0.8);
    padding: $spacing * 4;
    text-align: center;

    h1 {
      margin-bottom: 0;
    }
  }
}

.body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.body.active {
  overflow: auto;
  overflow-x: hidden;
}
.body::-webkit-scrollbar {
  width: 0.5vw; /* ширина scrollbar */
}
.body::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 2vmin; /* цвет дорожки */
}
.body::-webkit-scrollbar-thumb {
  background: #23be47; /* цвет плашки */
  /* цвет плашки */
  border-radius: 3vmin; /* закругления плашки */
  /* padding вокруг плашки */
}
.main {
  height: 200vh;
}
.header {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  &-text-top {
    position: absolute;
    top: 13vh;
    left: 17.5vw;
    width: 66vw;
    overflow: hidden;
    z-index: 9;

    span {
      margin-right: 5vmin;
      font-weight: 700;
      font-size: 2vmin;
      animation: infinite 1.5s pulse-text;
    }
    span.last {
      margin-right: 0;
      animation: infinite 1.5s pulse-text;
    }
  }
  &-text-bottom {
    position: absolute;
    bottom: 13vh;
    left: 17.5vw;
    width: 66vw;
    overflow: hidden;
    z-index: 9;

    span {
      margin-right: 5vmin;
      font-weight: 700;
      font-size: 2vmin;
      animation: infinite 1.5s pulse-text;
    }
    span.last {
      margin-right: 0;
      animation: infinite 1.5s pulse-text;
    }
  }
  &-text-right {
    position: absolute;
    top: 17vh;
    right: 13vw;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: 9;
    display: flex;
    flex-direction: column;
    gap: 2vmin;

    span {
      font-weight: 700;
      font-size: 2vmin;
      animation: infinite 1.5s pulse-text;
      word-break: break-all;
      display: flex;
      flex-direction: column;
      gap: 0vmin;
      white-space: nowrap;

      div {
        transform: rotate(90deg);
      }
    }
    span.last {
      margin-right: 0;
      animation: infinite 1.5s pulse-text;
    }
  }
  &-text-left {
    position: absolute;
    top: 17vh;
    left: 13vw;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: 9;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    transform: rotate(-180deg);

    span {
      font-weight: 700;
      font-size: 2vmin;
      animation: infinite 1.5s pulse-text;
      word-break: break-all;
      display: flex;
      flex-direction: column;
      gap: 0vmin;
      div {
        transform: rotate(90deg);
      }
    }
    span.last {
      margin-right: 0;
      animation: infinite 1.5s pulse-text;
    }
  }
  &-wrapper {
    height: 75vh;
    width: 75vw;
    padding: 3vmin;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    left: calc(50% - 37.5vw);
    top: calc(50% - 37.5vh);
    animation: infinite 1.5s pulse-first;
  }
  &-content {
    height: 100%;
    width: 100%;

    z-index: 2;
    background: #d4d0c8;
    &-title {
      animation: infinite 1.5s pulse-text;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3vmin;
      margin-top: 3vmin;
      margin-bottom: 2vmin;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 4vmin;
      line-height: 149.02%;
      color: #52ff00;
      img {
        width: 15vmin;
        height: 7.3vmin;
        display: block;
      }
    }
    &-subtitle {
      display: flex;
      align-items: center;
      gap: 1vmin;
      flex-direction: column;
      font-weight: 500;
      font-size: 2.5vmin;

      span {
        color: #2e9432;
        font-size: 5vmin;
        line-height: 102.52%;
      }
    }
    &-image {
      display: flex;
      justify-content: center;
      img {
        width: 20vmin;
        height: 20vmin;
        display: block;
      }
    }
    &-label {
      font-weight: 500;
      margin-top: 2vmin;
      text-align: center;
      font-size: 3vmin;
      span {
        color: #7b0000;
      }
    }
    &-button {
      margin-top: 3vmin;
      display: flex;
      gap: 4vmin;
      align-items: center;
      justify-content: center;
      button {
        width: 50vmin;
        height: 9vmin;
        background: #c13520;
        border-radius: 2vmin;
        font-weight: 700;
        font-size: 2.5vmin;
        color: #fff;
      }
      img {
        width: 19vmin;
        height: 7vmin;
      }
    }
  }
  &-push {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.72);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    &-wrapper {
      width: 35vw;
      height: 45vh;
      background: #fff;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 2vmin 1.4vmin 0 1.4vmin;
      &-flex{
          display: flex;
          justify-content: space-between;
      }
      &-top {
        &-right{
          display: flex;
          justify-content: flex-end;
          flex-wrap: wrap;
          gap: 1vmin;
          .settings{
            background: url(../img/settings.svg), no-repeat;
            background-size: 100% 100%;
            width: 3vmin;
            height: 3vmin;
          }
          .close{
            background: url(../img/close.svg), no-repeat;
            background-size: 100% 100%;
            width: 3vmin;
            height: 3vmin;
            a{
              width: 3vmin;
              height: 3vmin;
              display: block;
            }
          }
          .chrome{
            flex-basis: 50%;
            margin-top: 1vmin;
            width: 7vmin;
            height: 7vmin;  
          }
        }
        &-text{
          margin-top: 2vmin;
          font-size: 2vmin;
          line-height: 2.5vmin;
          font-weight: 500; 
        }
        &-link {
          display: flex;
          align-items: center;
          color: #DD0B13;
          font-size: 2.5vmin;
          img {
            width: 2.2vmin;
            height: 2.2vmin;
            margin-right: 0.8vmin;
            display: block;
          }
          span{
            width: 1vmin;
            height: 1vmin;
            border-radius: 50%;
            background: #000;
            margin: 0 1.5vmin;
            margin-top: 0.5vmin;
          }
          b{
            font-size: 2.5vmin;
            font-weight: 400;
            color: #000000;
            position: relative;
          }
          b:after{
            content: '';
            position: absolute;
            right: -2vmin;
            top: calc(50% - 0.3vmin);
            width: 1.6vmin;
            height: 1vmin;
            background: url(../img/red-line.svg), no-repeat;
            background-size: 100% 100%;
          }
          
        }
        
      }
      &-bottom{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto; 
        margin-top: 5vmin;
        width: 90%;
        background: #2B2D29;
        border-radius: 0.8vmin;
        padding: 3vmin 0;
        .center{
          width: 70%;
          font-weight: 700;
          font-size: 2.5vmin;
            
          
          color: #FFFFFF;
          span{
          font-size: 3.5vmin;
          
          }
        }
        
        img{
          width: 15%;
        }
        button{
          background: #FB0005;
          border-radius: 0.8vmin;
          flex-basis: auto;
          
          
          margin: 0 auto; 
          margin-top: 1vmin;
          a{
            padding: 1vmin 1.6vmin;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 3.5vmin;
            line-height: 149.02%;
          }
        }
    }
    }
  }
  &-push.active {
    display: block;
    z-index: 99;
  }
}

.timer {
  margin-top: 2vmin;
  font-size: 3vmin;
  text-align: center;
  b {
    text-align: center;
    font-size: 3vmin;
  }
  span {
    color: #7b0000;
    font-size: 3vmin;
    font-weight: 700;
  }
}
$red: #c90414;
$blue: #1287cc;
$green: #00b217;
$yellow: #e89e00;
$orange: #c92f00;

@mixin innerColor($color: #0db6e0) {
  background-color: transparentize($color, 0.05);
  background-image: linear-gradient(
      90deg,
      transparentize(lighten($color, 5%), 1) 10%,
      transparentize(lighten($color, 10%), 0.2) 30%,
      transparentize(lighten($color, 15%), 0) 70%,
      transparentize(lighten($color, 10%), 0.2) 80%,
      transparentize(lighten($color, 5%), 1) 90%
    ),
    linear-gradient(to right, transparentize(lighten($color, 15%), 1) 0%, transparentize(lighten($color, 15%), 0) 100%),
    linear-gradient(to left, transparentize(lighten($color, 15%), 1) 0%, transparentize(lighten($color, 15%), 0) 100%);

  border-color: lighten($color, 20%);

  box-shadow: 0 0 2vmin lighten($color, 10%) inset, 0 0 2vmin lighten($color, 5%) inset,
    0 0 2vmin transparentize($color, 0.5), 0 0 2vmin transparentize(lighten($color, 50%), 0.5);
}

.progress {
  font-size: 1.2em;
  height: 10vmin;
  width: 70vw;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  &--active .progress__bar {
    opacity: 1;
  }

  &__text {
    font-family: "Inter";
    font-weight: 700;
    font-size: 4vmin;
    width: 100%;
    height: 10vmin;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    em {
      font-style: normal;
    }
  }

  &__bar {
    color: white;
    font-size: 12px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    line-height: 19px;

    display: block;
    position: relative;
    top: -1px;
    left: -1px;

    width: 0%;
    height: 100%;
    opacity: 0;

    border: 1px solid;
    border-radius: 2px 0 0 2px;

    background-size: 10vmin 10vmin, 10vmin 10vmin, 10vmin 10vmin;
    background-position: -20% center, right center, left center;
    background-repeat: no-repeat, no-repeat, no-repeat;

    transition: opacity 0.2s ease, width 0.8s ease-out, background-color 1s ease, border-color 0.3s ease,
      box-shadow 1s ease;

    animation: pulse 2s ease-out infinite;

    @include innerColor($red);

    &--orange {
      @include innerColor($orange);
    }

    &--yellow {
      @include innerColor($yellow);
    }

    &--green {
      @include innerColor($green);
    }

    &--blue {
      @include innerColor($blue);
    }

    &:before,
    &:after {
      content: "";
      position: absolute;

      right: -1px;
      top: -10px;

      width: 1px;
      height: 40px;
    }

    &:before {
      width: 7px;
      right: -4px;

      background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 75%);
    }

    &:after {
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 25%,
        rgba(255, 255, 255, 0.3) 75%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  &--complete {
    .progress__bar {
      animation: none;
      border-radius: 2px;

      &:after,
      &:before {
        opacity: 0;
      }
    }
  }
}

@keyframes pulse {
  0% {
    background-position: -50% center, right center, left center;
  }

  100% {
    background-position: 150% center, right center, left center;
  }
}
.loading {
  background: rgba(0, 0, 0, 0.72);
  display: none;
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}
.loading.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  #gradient {
    width: 100%;
    height: 250vh;
  }
}
.notifications {
  height: 130vh;
  z-index: 99;
  position: relative;
  overflow: hidden;
}
.scrollDist {
  position: absolute;
  top: -20vh;
  left: 0;
}
#mouse-scroll.active {
  display: block;
}
#mouse-scroll {
  display: none;
}
#mouse-scroll {
  position: absolute;
  margin: auto;
  left: calc(50% - 2.5vw);
  bottom: 10vh;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
}
#mouse-scroll span {
  display: block;
  width: 4vw;
  height: 4vh;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 0.3vmin solid #fff;
  border-bottom: 0.3vmin solid #fff;
  margin: 0 0 0.4vmin 0.6vmin;
}
#mouse-scroll .mouse {
  margin-left: 2vw;
  width: 2vw;
  height: 5vh;
  border-radius: 2vmin;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 0.3vmin solid #ffffff;
  top: 10vmin;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 1vmin;
}
#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-dekay: 0.3s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 1vmin;
  width: 0.2vmin;
  display: block;
  margin: 1vmin auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in {
  -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.notification,
.notification2,
.notification3,
.notification4,
.notification5,
.notification6,
.notification7,
.notification8,
.notification9,
.notification10,
.notification15,
.notification11,
.notification12,
.notification13,
.notification14 {
  background: rgba(255, 255, 255, 0.77);
  backdrop-filter: blur(3vmin);
  width: 40vw;
  height: 20vh;
  padding: 5.5vh 2vw;
  border-radius: 5vmin;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  &-left {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5vmin;
    width: 80%;
    img {
      width: 10vmin;
      height: 10vmin;
    }
    span {
      font-weight: 600;
      font-size: 3vmin;
      b {
        font-weight: 400;
        font-size: 3vmin;
        display: block;
      }
    }
  }
  &-right {
    text-align: right;
    color: #54574d;
    font-size: 2vmin;
    gap: 1vmin;
    display: flex;
    flex-direction: column;
    img {
      width: 7vmin;
      height: 7vmin;
    }
  }
}
.phone {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 150vh;
  left: 0;

  &__image {
    position: absolute;
    left: 4vw;
    top: 0vh;
    height: 60vh;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    position: absolute;
    left: 7vw;
    top: 2vh;
    width: 50vw;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__text2 {
    position: absolute;
    left: 7vw;
    top: 60vh;
    width: 40vw;
    img {
      width: 100%;
      height: 100%;
    }
  }
  button {
    background: #c13520;
    border-radius: 25px;
    position: absolute;
    bottom: 7vh;
    width: 30vw;
    height: 10vh;
    left: calc(50% - 15vw);
    font-weight: 700;
    font-size: 4vmin;
    line-height: 149.02%;
    color: #ffffff;
  }
}
.windows {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 100vh;
  left: 0;
  display: none;
  z-index: 9;
  transition: 1s;
  .pop-element {
    position: absolute;
    width: 70vw;
    height: 55vh;
    background: url(../img/pop-bg.png);
    animation: background 0.2s both;
    animation-delay: 1s;
    background-size: 100% 100%;
    top: calc(50% - 27.5vh);
    left: calc(50% - 35vw);
    padding: 3vh 1vw;
    display: none;
    &__top {
      height: 9vh;

      display: flex;
      justify-content: space-between;
      &-left {
        display: flex;
        align-items: center;
        gap: 1vw;
        font-family: "Minecraft";
        font-weight: 600;
        font-size: 5vmin;
        color: #ffffff;
        button {
          margin-left: 1vw;
          background: none;
          width: 3.5vw;
          pointer-events: none;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      &-right {
        display: flex;
        align-items: center;
        gap: 0vw;
        button {
          margin-right: 1vw;
          background: none;
          height: 7vh;
          img {
            width: 100%;
            height: 100%;
          }
        }
        button.disable {
          margin-right: 0.6vw;
          background: none;
          pointer-events: none;
          height: 6.7vh;
          margin-bottom: 0.3vh;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &__main {
      display: flex;
      align-items: start;
      padding-top: 10vh;
      padding-left: 5vw;
      gap: 3vw;

      &-titleimg {
        width: 10vw;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-rightimg {
        width: 13vw;
        img {
          width: 100%;
          height: 100%;
          margin-top: -6vh;
        }
      }
      &-rightimg.big {
        width: 11vw;
        margin-right: 3vw;
        img {
          width: 100%;
          height: 100%;
          margin-top: -6vh;
        }
      }
      span {
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Minecraft";
        font-size: 5vmin;
        line-height: 150%;
        margin-top: 0vmin;
        color: #000000;
        max-width: 40vw;
      }
      little {
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Minecraft";
        font-size:4vmin;
        line-height: 150%;
        margin-top: 0vmin;
        color: #000000;
        max-width: 40vw;
      }
      little.little {
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Minecraft";
        font-size: 3vmin;
        line-height: 150%;
        margin-top: 0vmin;
        color: #000000;
        max-width: 40vw;
      }
      little.big{
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Minecraft";
        font-size:4vmin;
        line-height: 150%;
        margin-top: 0vmin;
        color: #000000;
        max-width: 33vw;
      }
      b {
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Minecraft";
        font-size: 6.5vmin;
        line-height: 140%;
        margin-top: 0vmin;
        color: #000000;
        max-width: 33vw;
      }
      b.little {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Minecraft";
        font-size: 2.5vmin;
        line-height: 140%;
        margin-top: 0vmin;
        color: #000000;
        max-width: 33vw;
        margin-top: -5vh;
      }
      button.buttonconfirm {
        background: url(../img/buttonbg.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 3vmin;
        line-height: 135%;
        color: #ff0000;
        width: 70%;
        height: 12vh;
        margin-top: 1vh;
      }
    }
  }
  .pop-element.fast {
    position: absolute;
    width: 70vw;
    height: 55vh;
    background: url(../img/pop-bg.png);
    animation: background 0.2s both;
    animation-delay: 0.3s;
    background-size: 100% 100%;
    top: calc(50% - 27.5vh);
    left: calc(50% - 35vw);
    padding: 3vh 1vw;
    display: none;
    &__top {
      height: 9vh;

      display: flex;
      justify-content: space-between;
      &-left {
        display: flex;
        align-items: center;
        gap: 1vw;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 5vmin;
        color: #ffffff;
        button {
          margin-left: 1vw;
          background: none;
          width: 3.5vw;
          pointer-events: none;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      &-right {
        display: flex;
        align-items: center;
        gap: 0vw;
        button {
          margin-right: 1vw;
          background: none;
          height: 7vh;
          img {
            width: 100%;
            height: 100%;
          }
        }
        button.disable {
          margin-right: 0.6vw;
          background: none;
          pointer-events: none;
          height: 6.7vh;
          margin-bottom: 0.3vh;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &__main {
      display: flex;
      align-items: start;
      padding-top: 10vh;
      padding-left: 5vw;
      gap: 3vw;

      &-titleimg {
        width: 10vw;
        img {
          width: 100%;
          height: 100%;
        }
      }
      span {
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Open Sans";
        font-size: 13vmin;
        margin-top: 0vmin;
        color: #000000;
      }
    }
  }
  .pop-element.active {
    display: block;
  }
}
.windows.active {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 50vh;
  left: 0;
  display: block;
  background: url(../img/windows.png);
  animation: background 1s both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // animation-delay: 1s;
  z-index: 9;
  transition: 1s;
}
.pushflow {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0vh;
  left: 0;
  display: none;
  z-index: 10;
  background: #242424;
  transition: 1s;
  &__top {
    position: absolute;
    left: 5vw;
    animation: gotop 0.5s both;

    img {
      width: 40vw;
    }
  }
  &__bottom {
    animation: goleft 0.5s both;
    position: absolute;
    bottom: 5vh;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    div {
      color: #ffffff;
      text-align: right;
      font-size: 3vmin;
      line-height: 130%;
      font-style: italic;
    }
    button {
      margin-top: 3vh;
      background: #c13520;
      border-radius: 1.5vmin;
      height: 10vh;
      width: 35vw;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3.5vmin;
      color: #ffffff;
    }
  }
  &__subtitle {
    animation: background 0.5s both;
    animation-delay: 2s;
    color: #ffffff;
    font-size: 4vmin;
    line-height: 5vmin;
    span {
      color: #e65d5d;
    }
  }
  &__bottom.hidden {
    display: none;
  }
  &__subtitle.hidden {
    display: none;
  }
  &__pluses {
    margin-left: 5vw;
    margin-top: 5vh;
    animation: background 0.5s both;
    animation-delay: 3s;
    &-item {
      color: #ffffff;
      font-size: 4vmin;
      line-height: 5vmin;
      display: flex;
      align-items: center;
      color: #fff;
      span {
        color: #00ff29;
        margin-right: 2vw;
        font-size: 6vmin;
        line-height: 5vmin;
        margin-bottom: 0vh;
      }
    }
  }
  &__pluses.hidden {
    display: none;
  }
  &__sale.hidden {
    display: none;
  }
  &__sale {
    margin-top: 15vh;
    color: #ffffff;
    font-size: 3.5vmin;
    line-height: 5vmin;
    span {
      color: #00f426;
      font-weight: 700;
    }
    little {
      color: #ff3636;
      font-size: 3vmin;
    }
    b {
      font-weight: 600;
    }
  }
  &__ticket.hidden {
    display: none;
  }
  &__ticket {
    font-weight: 600;
    font-size: 8vw;
    color: #000;
    background: #fff;
    margin-top: 3vh;
  }
  &__button.hidden {
    display: none;
  }
  &__button {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    button {
      background: #c13520;
      border-radius: 1.5vmin;
      text-align: center;
      font-size: 3vmin;
      height: 10vh;
      width: 35vw;
      font-weight: 600;
      color: #ffffff;
    }
  }
}
.pushflow.active {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: -50vh;
  left: 0;
  display: block;
  background: url(../img/windows.png);
  animation: background 1s both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: #242424;
  // animation-delay: 1s;
  z-index: 10;
  transition: 1s;
}
